

.review-list {
  text-align: center;
  margin: 1% auto;
}
.list-table {
  width: 100%;
  margin: 20px;
}
.new{
  border: 2px solid gray;
  text-align: center;
  text-decoration: none;
  margin: 4px auto;
  padding: 4px;
}